<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- css -->
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/usuario.css" />

  <!-- Ícones -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Title -->
  <link rel="shortcut icon" href="img/logo.jpg" type="image/x-icon">
  <link rel="icon" href="img/favicon.ico" type="image/x-icon">
  <title>Contato | Previdência Aqui</title>
</head>

<body>

  <div class="cabeca">
    <h1>Contato</h1>
    <div class="clique">
      <div class="botao">
        <button type="submit"><a href="javascript:history.back()">Voltar</a></button>
      </div>

      <div class="botao">
        <button type="submit"><a href="/">Início</a></button>
      </div>
    </div>
  </div>
  <main>
    <img src="./img/senhor.png" alt="" width="480px">
    <form action="/contato" method="post">

      <div class="titulo">
        <h2><strong>Fale Conosco</strong></h2>
        <legend><i>Para dúvidas, elogios e sugestões, preencha os campos abaixo:</i></legend>
      </div>
      <div class="barra">

        <div class="form_left">
          <div class="form_child">
            <label for="nome">nome</label>
            <input type="text" name="nome" id="nome" placeholder="nome">

          </div>
          <div class="form_child">
            <label for="email">e-mail</label>
            <input type="email" name="email" id="email" placeholder="e-mail">

          </div>
          <div class="form_child">
            <label for="assunto">assunto</label>
            <input type="text" name="assunto" id="assunto" placeholder="assunto">

          </div>
        </div>

        <div class="form_rigth">

          <div class="form_child">
            <label for="mensagem">mensagem</label>
            <textarea name="mensagem" id="mensagem" placeholder="mensagem"></textarea>
          </div>


          <div class="form_child">
            <label for="boletim">boletim informativo</label>
            <div class="boletim">
              <input type="checkbox" name="boletim" id="boletim">
              <p>Gostaria de receber e-mails com notícias e informações atualizadas sobre a Previdência Social!</p>
            </div>
          </div>
        </div>
      </div>


      <% if (messages.error) { %>
        <div class="erro">
          <div class="error-message">
            <%= messages.error %>
          </div>
        </div>
        <% } %>

          <div class="botao">
            <input type="submit" value="enviar" class="envio">
          </div>

    </form>

  </main>


</body>

</html>