<!DOCTYPE html>
<html>
<head>
    <title>Boletim Informativo</title>
</head>
<body>
    <h1>Boletim Informativo</h1>
    <form action="/boletim-informativo/" method="post">
        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email" required>
        <input type="submit" value="Assinar">
    </form>
</body>
</html>