<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/logorecicleja1.jpg"    >
    <link href="https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script:wght@600&family=IBM+Plex+Sans&family=IBM+Plex+Serif&display=swap" rel="stylesheet">
   
    <link rel="stylesheet"  type="text/css" href="css/reset.css">
    <link rel="stylesheet"  type="text/css" href="css/style.css">
    <link rel="stylesheet"  type="text/css" href="css/normalize.css"> 
    <title>Pag.2-Regras Previdenciárias Permanentes</title>
</head>
<body>
    <nav class="logo">
        <a href="index.html"> 
            <img src="img/previdencia.jpg">  
        </a>
        <br> <br>   <br> <br>
teste
        <ul>
            <li><a href="#notícias"> Noticias</a></li>
            <li><a href="#sobre">Sobre</a></li>
            <li><a href="#direitos">Direitos e Deveres</a></li>
            <li><a href="#calculos">Cálculos</a></li>
            <li><a href="#faleconosco">Fale Conosco</a></li>
            <li><a href="#entrar_cadastrar">Entrar/Cadastrar</a></li>
        </ul>

    </nav>
  
    
    <header>
        <h1><strong>DIREITOS E DEVERES</strong></h1>
       
    </header>

    <div>
        <img src="img/previdencia.jpg">
    </div>

          
    <div class="texto">
                      
                <p>
                    No Brasil, os beneficiários da Previdência Social são os segurados e seus dependentes1. Os segurados são pessoas que exercem atividade remunerada e contribuem para a Previdência Social, incluindo empregados, trabalhadores avulsos, empregados domésticos e contribuintes individuais.
 Os beneficiários têm direitos e deveres, incluindo a atualização de tempo de contribuição, categorias de segurados, dependentes e pagamento de benefícios. A Previdência Social tem como objetivo assegurar aos seus beneficiários meios indispensáveis de manutenção, por motivo de incapacidade, idade avançada,
 tempo de serviço, desemprego involuntário, encargos familiares e prisão ou morte daqueles de quem dependiam economicamente 

 Os beneficiários da Previdência Social no Brasil possuem tanto direitos quanto deveres. Alguns dos principais são:

 <strong> Direitos: </strong> 
 
 Receber benefícios previdenciários, tais como aposentadoria, pensão por morte, auxílio-doença, salário-maternidade, entre outros;
 Ter acesso à assistência social em casos de necessidade, como o Benefício de Prestação Continuada (BPC);
 Ter direito à revisão do benefício caso sejam identificados erros ou omissões no cálculo;
 Receber o décimo terceiro salário;
 Ter direito à proteção à maternidade e à paternidade;
 Participar de programas de reabilitação profissional;
 Ter direito à assistência à saúde.

<strong> Deveres:  </strong>

 Contribuir regularmente para a Previdência Social;
 Manter seus dados cadastrais atualizados;
 Informar sobre qualquer alteração em sua situação, como mudança de endereço, estado civil, trabalho, entre outros;
 Comparecer às perícias médicas e sociais quando solicitado;
 Comunicar o óbito do beneficiário em caso de pensão por morte;
 Devolver valores recebidos indevidamente, quando constatado erro no pagamento do benefício.
 Além disso, é importante lembrar que os beneficiários também devem seguir as normas estabelecidas pela Previdência Social, como cumprir prazos para requerer benefícios e manter a documentação em dia.

</p>

</div>



<br><br><br>
<footer>
   
        
    <h4> RODAPÉ</h4>

 
   
  
</footer>





</body>
</html>