<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Css -->
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/direitos.css">

  <!-- Ícones -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Title -->
  <link rel="shortcut icon" href="img/logo.jpg" type="image/x-icon">
  <link rel="icon" href="img/favicon.ico" type="image/x-icon">
  <title>Direitos e Deveres | Previdência Aqui</title>
</head>

<body>
  <nav class="logo">
    <div class="menu">
      <a href="/">
        <img src="./img/logo.jpg" style="width: 100px;"
          alt="Logotipo do site, contendo o nome da página, que se chama Previdência Aqui, e as letras P e A em destaque"
          title="Previdência Aqui">
      </a>

      <legend><button id="mostrar"><i class="fa-solid fa-bars" style="color: #fff;"></i></button></legend>

    </div>

    <ul class="nav-list">
      <li><a href="/">Início</a></li>
      <li><a href="/sobre">Sobre</a></li>
      <li><a href="/direitos">Regras</a></li>
      <li><a href="/simule">Simule</a></li>
      <li><a href="/fale">Contato</a></li>
      <li><a href="/boletim">Informativo</a></li>
      <li><a href="/entrar">Entrar</a></li>
     </ul>
  </nav>

  <main>

    <div class="titulo">
      <h1>Regras: direitos e deveres dos segurados</h1>
      <blockquote class="item">
        <p>Os segurados da Previdência Social têm <strong>direitos</strong> aos benefícios oferecidos pelo sistema
          previdenciário e para que tenham acesso a esses benefícios, também têm <strong>deveres</strong> a serem
          observados perante a Previdência Social. Aqui inserimos alguns dos principais direitos e deveres dos
          segurados,
          vamos conhecê-los?</p>
          <p><i>Clique nos cards abaixo e saiba mais!</i></p>
      </blockquote>
    </div>

    

    <div class="box">
      <figure class="figura">
        <img src="./img/f7.png" title="Preparação para a aposentadoria"
          alt="Figura representando um casal de idosos e com outras imagens ao fundo, sendo elas: uma casa, um formulário e três círculos contendo, em cada um, o símbolo de uma casa, um cifrão e uma cruz">
        <figcaption>Direitos</figcaption>
      </figure>
      <div class="card-container" id="card-container1"></div>
      
    </div>
    <div class="box">
      <figure class="figura">
        <img src="./img/f8.jpg" alt="Deveres" title="Contribuição com a previdência"
          alt="Imagem contendo duas mãos, em que as duas seguram as mesmas notas de dinheiro">
        <figcaption>Deveres</figcaption>
      </figure>
      <div class="card-container" id="card-container2"></div>
      
    </div>
  </main>
  <footer>
    <h3>&copy; 2023 Previdência Aqui.<br> Todos os direitos reservados.</h3>

    <div class="social">

      <i class="fab fa-facebook"></i>
      <!--código para o js: <font-awesome-icon :icon="['fab', 'facebook']" />-->
      <i class="fab fa-twitter"></i>
      <!--código para o js:<font-awesome-icon :icon="['fab', 'twitter']" />-->
      <i class="fab fa-instagram-square"></i>
      <!--código para o js: <font-awesome-icon :icon="['fab', 'square-instagram']" />-->
    </div>
  </footer>

  <script src="js/index.js"></script>
  <script src="js/direitos.js"></script>

</body>

</html>
