<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/logorecicleja1.jpg"    >
    <link href="https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script:wght@600&family=IBM+Plex+Sans&family=IBM+Plex+Serif&display=swap" rel="stylesheet">
   
    <link rel="stylesheet"  type="text/css" href="css/reset.css">
    <link rel="stylesheet"  type="text/css" href="css/style.css">
    <link rel="stylesheet"  type="text/css" href="css/normalize.css"> 
    <title>Projeto Integrador II-Previdencia Aqui</title>
</head>
<body>
    <nav class="logo">
        <a href="index.html"> 
            <img src="img/previdencia.jpg">  
        </a>
        <br> <br>   <br> <br>

        <ul>
            <li><a href="#notícias"> Noticias</a></li>
            <li><a href="#sobre">Sobre</a></li>
            <li><a href="#direitos">Direitos e Deveres</a></li>
            <li><a href="#calculos">Cálculos</a></li>
            <li><a href="#faleconosco">Fale Conosco</a></li>
            <li><a href="#entrar_cadastrar">Entrar/Cadastrar</a></li>
        </ul>

    </nav>
  
    
    <header>
        <h1>PREVIDÊNCIA AQUI</h1>
        <p>Tudo Sobre Previdência Social</p>
        <br> <br>
      <!--  <a class="botao" href="https://www.facebook.com/val.desouza.18">Página Facebook</a>-->

    </header>

    <div class="container"> 

        <section id="sobre">
            <br> <br>         

            <h2>Editorial</h2>
            

            <div class="foto">
                <img src="img/Fundo3-ImgINSS.jpg">

            </div>

            <div class="texto">
                      
                <p>
                    A partir do nascimento, o princípio de todo ser vivo é a luta pela sobrevivência...nós, seres humanos quando vimos ao Mundo temos (ou pelo menos deveríamos ter), a proteção dos
                    pais e da sociedade, mediante o acolhimento e sustento de nossas mais diversas necessidades até adquirirmos nossa autonomia que se supõe a partir do momento que nos tornamos 
                    maiores de idade ou "adultos". </p>
                    <br>
                    <p>Nas idades mais remotas de existência da civilização, os seres humanos da época lutavam pela subsistência diariamente, mediante a caça, a pesca e toda sorte de atividades que lhes 
                    fornecesse os meios necessários para a manutenção de suas vidas.</p> 
                    <br>
                    <p>Com a evolução dos tempos e, mediante a fixação das pessoas em lugares específicos do planeta Terra, passou-se a cuidar da terra(plantar, criar e trocar), construir abrigos, cidades
                    e países, e mediante o trabalho e a troca de bens e serviços, até o advento do dinheiro, a sociedade foi evoluindo até os dias atuais sempre com a preocupação da perpetuação da espécie 
                    humana e a proteção social de seus integrantes, o que deu origem no século XIX (mais precisamente em 1883, na alemanha) o primeiro regime de previdência que instituiu um seguro obrigatório
                    para proteger os trabalhadores nos casos de agravos à saúde, acidentes de trabalho, invalidez e envelhecimento, custeado por contribuições dos empregados, empregadores e Estado.</p> 
                   <br>
                    <p>No Brasil, data de 1923 a lei federal que fez dos ferroviários, no setor privado, os precursores do direito a um pagamento mensal durante a velhice. Conhecida como Lei Eloy Chaves, a
                    norma é considerada a origem da Previdência Social no país.</p> 
               <br>
               

            </div>

        </section>
        <br> <br>          <br> <br>  
        
    </div>
                        
         <section id="especialidades">
            <br> <br>             <br> <br>

            <h2>NOTÍCIAS</h2>
            <br> <br>             <br> <br>


            <div>
                <img src="img/img-RegrasPrevPerm.png">
                <br>
                <h3><b>Regras Previdenciárias Permanentes</b></h3>
                <p>As Regras Previdenciárias Permanentes são as normas que estabelecem os critérios e requisitos para a concessão de benefícios previdenciários no regime previdenciário brasileiro.
                    Essas regras estão definidas na Constituição Federal, em leis específicas como a Lei Orgânica da Seguridade Social e a Lei de Benefícios da Previdência Social, além de decretos
                    e regulamentos editados pelo Ministério da Previdência Social.
                    As Regras Previdenciárias Permanentes incluem critérios como idade mínima, tempo de contribuição e carência para a concessão de aposentadorias e outros benefícios previdenciários,
                    além de estabelecer os valores e formas de conhecimento dos benefícios.
                    Quer saber mais sobre essas regras? Siga a matéria...
                </p>
            </div>

            <div>
                <img src="img/RegrasTrans.png">
                <br>

                <h3><b>REGRAS DE TRANSIÇÃO</b></h3>
                <p>As Regras Previdenciárias de Transição são regras especiais que permitem que os trabalhadores que já estavam ansiosos pelo benefício previdenciário antes da entrada em vigor de uma nova
                lei previdenciária possam se aposentar de acordo com as regras antigas, ou com uma combinação de regras antigas e novas.
                Essas regras de transição foram criadas para evitar que o trabalhador que já estava próximo da aposentadoria fosse prejudicado pelas mudanças na legislação previdenciária. Elas geralmente
                estabelecem requisitos mais brandos em relação ao tempo de contribuição e idade mínima, permitindo que os trabalhadores se aposentem mais cedo ou com uma renda previdenciária mais alta do
                que se sofreram que seguem as novas regras.
                No Brasil, as Regras Previdenciárias de Transição foram instituídas pela Reforma da Previdência de 2019, que alterou as regras de aposentadoria do Regime Geral de Previdência Social (RGPS)
                e do Regime Próprio de Previdência Social (RPPS) dos servidores públicos. As regras de transição protegidas pela reforma incluem a idade mínima progressiva, o sistema de pontos, o pedágio e
                a aposentadoria por tempo de contribuição. Cada uma dessas regras tem seus próprios critérios e requisitos específicos.
                Vamos conhecer melhor como isso funciona? 
            </p>

            </div>

            <div>
                <img src="img/img-HistPrev.png">
                <br>

                <h3><b>A HISTÓRIA DA PREVIDÊNCIA NO BRASIL</b></h3>
                <p> O primeiro regime de previdência que instituiu um seguro obrigatório para proteger os trabalhadores nos casos de agravos à saúde, acidentes de trabalho, invalidez e envelhecimento, custeado
                    por contribuições dos empregados, empregadores e Estado deu-se no século XIX mais precisamente em 1883, na alemanha.
                    No Brasil, data de 1923 a lei federal que fez dos ferroviários, no setor privado, os precursores do direito a um pagamento mensal durante a velhice. Conhecida como Lei Eloy Chaves, a
                    norma é considerada a origem da Previdência Social no país.
                    Vamos conhecer melhor essa história.
                
                </p>
            </div>

             </section>







</body>
</html>