<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/logorecicleja1.jpg"    >
    <link href="https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script:wght@600&family=IBM+Plex+Sans&family=IBM+Plex+Serif&display=swap" rel="stylesheet">
   
    <link rel="stylesheet"  type="text/css" href="css/reset.css">
    <link rel="stylesheet"  type="text/css" href="css/style.css">
    <link rel="stylesheet"  type="text/css" href="css/normalize.css"> 
    <title>Pag.2-Regras Previdenciárias Permanentes</title>
</head>
<body>
    <nav class="logo">
        <a href="index.html"> 
            <img src="img/previdencia.jpg">  
        </a>
        <br> <br>   <br> <br>
teste
        <ul>
            <li><a href="#notícias"> Noticias</a></li>
            <li><a href="#sobre">Sobre</a></li>
            <li><a href="#direitos">Direitos e Deveres</a></li>
            <li><a href="#calculos">Cálculos</a></li>
            <li><a href="#faleconosco">Fale Conosco</a></li>
            <li><a href="#entrar_cadastrar">Entrar/Cadastrar</a></li>
        </ul>

    </nav>
  
    
    <header>
        <h1><strong>REGRAS PREVIDENCIÁRIAS PERMANETES</strong></h1>
       
    </header>

    <div>
        <img src="img/previdencia.jpg">
    </div>

          
    <div class="texto">
                      
                <p>
                    As novas regras previdenciárias no Brasil, estão em vigor desde 2019, mas ainda geram dúvidas nos segurados.

Com a promulgação da chamada Reforma da Previdência, os trabalhadores no país estão sujeitos a exigências mais rígidas para solicitar os benefícios da Previdência Social.

Houve mudanças significativas na idade mínima, tempo de contribuição e cálculo do benefício, por exemplo, além da criação de regras de transições específicas.

Em resumo: no geral, ficou mais difícil de se conseguir um benefício previdenciário.

                    No caso de aposentadoria, as novas regras da Previdência prevêem aposentadoria no INSS e no serviço público federal para trabalhadores urbanos se cumpridos os seguintes requisitos:
<p> <strong> Mulheres </strong> • 62 anos de idade • mínimo de 15 anos de contribuição (INSS) • mínimo de 25 anos de contribuição (servidor público federal) </p>
<p><strong> Homens </strong> • 65 anos de idade • mínimo de 20 anos de contribuição (INSS) • mínimo de 25 anos de contribuição (servidor público federal) </p> 
</p>
<p>Para se aposentar, homens que ingressarem no mercado de trabalho após a vigência das novas regras terão que contribuir por, no mínimo, 20 anos. Quem já contribui para a previdência deve ter, no mínimo, 15 anos de contribuição. </p>

<p> Trabalhadores Rurais e de Economia Familiar – 60 (sessenta) anos de idade, se homem, e 55 (cinquenta e cinco) anos de idade, se mulher, para os trabalhadores rurais e para os que exerçam suas atividades em regime de economia familiar, nestes incluídos o produtor rural, o garimpeiro e o pescador artesanal. </p>
<p>Resta destacar que os professores terão o requisito da idade reduzido em 5 (cinco) anos, estando excluídos os professores da educação superior.</p>

                <p>
                    Além da aposentadoria tradicional, é importante lembrar que existem outros benefícios previdenciários disponibilizados pelo Governo Federal através do Instituto Nacional do Seguro Social (INSS).

Isso acontece porque, no decorrer da jornada trabalhista, é comum que o cidadão brasileiro possa enfrentar situações ocasionais que envolvam alguma doença, acidente de trabalho, maternidade, entre outras circunstâncias que podem resultar no afastamento temporário ou permanente do trabalhador. 

Sendo assim, há a possibilidade de solicitar o benefício equivalente à necessidade específica, diante das várias modalidades de aposentadorias, pensões e auxílios.

Como citado acima, além das aposentadorias, o Instituto Nacional do Seguro Social (INSS) também oferece alguns outros benefícios.

São eles: 

<strong> Auxílio-doença </strong>

O trabalhador ou trabalhadora que, por alguma razão referente à saúde, precisa se afastar das atividades laborais devido à incapacidade de executar os serviços, podem solicitar o auxílio-doença após 15 de afastamento, desde que cumpram os seguintes requisitos:

carência de 12 meses;
qualidade de segurado;
incapacidade temporária para o trabalho.

Antes da reforma da previdência (até 12/11/2019), o valor do auxílio-doença era equivalente a 91% da média dos 80% maiores salários de contribuição do segurado a partir de julho de 1994.

A partir da reforma, o valor deste benefício passou a ser equivalente a 91% da média de todos os salários de contribuição do segurado a partir de julho de 1994.

Ou seja, agora não há mais o descarte dos 20% menores salários de contribuição na hora de calcular o valor do auxílio-doença.

Essa diferença parece sutil. Todavia, pode diminuir bastante o valor do benefício de trabalhadores que hoje em dia têm um salário mais alto, porém chegaram a receber menos no passado.



<strong>Salário-maternidade </strong>

Este benefício é concedido após o nascimento do filho de uma funcionária, adoção, guarda judicial ou aborto espontâneo.

Para ter direito ao salário-maternidade é necessário cumprir 10 meses de carência, com exceção dos segurados empregados, empregados domésticos e trabalhadores avulsos.

No caso das desempregadas, é preciso comprovar a situação. 

Essa é uma regra que não sofreu alteração após a reforma da previdência.

Para a segurada empregada e para a avulsa, será mantida a totalidade de sua remuneração, que deve ser paga pela empresa e reembolsada pelo INSS através de créditos fiscais, pelo artigo 94 do decreto 3.048/99.

Por essa razão, o INSS não se utiliza do salário de benefício para calcular o salário maternidade, pois haverá reposição integral e substitutiva da própria remuneração.
                </p>

</div>



<br><br><br>
<footer>
   
        
    <h4> RODAPÉ</h4>

 
   
  
</footer>





</body>
</html>
