<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/logorecicleja1.jpg"    >
    <link href="https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script:wght@600&family=IBM+Plex+Sans&family=IBM+Plex+Serif&display=swap" rel="stylesheet">
   
    <link rel="stylesheet"  type="text/css" href="css/reset.css">
    <link rel="stylesheet"  type="text/css" href="css/style.css">
    <link rel="stylesheet"  type="text/css" href="css/normalize.css"> 
    <title>Pag.3-Regras Previdenciárias de Transição</title>
</head>
<body>
    <nav class="logo">
        <a href="index.html"> 
            <img src="img/previdencia.jpg">  
        </a>
        <br> <br>   <br> <br>

        <ul>
            <li><a href="#notícias"> Noticias</a></li>
            <li><a href="#sobre">Sobre</a></li>
            <li><a href="#direitos">Direitos e Deveres</a></li>
            <li><a href="#calculos">Cálculos</a></li>
            <li><a href="#faleconosco">Fale Conosco</a></li>
            <li><a href="#entrar_cadastrar">Entrar/Cadastrar</a></li>
        </ul>

    </nav>
  
    
    <header>
        <h1><strong>REGRAS PREVIDENCIÁRIAS DE TRANSIÇÃO</strong></h1>
       
    </header>

    <div>
        <img src="img/previdencia.jpg">
    </div>

          
    <div class="texto">
                      
                <p>
                   <strong> 1 Idade mínima e tempo de contribuição </strong>

As novas regras da Previdência prevêem aposentadoria no INSS e no serviço público federal para trabalhadores urbanos se cumpridos os seguintes requisitos:
Mulheres • 62 anos de idade • mínimo de 15 anos de contribuição (INSS) • mínimo de 25 anos de contribuição (servidor público federal)
Homens • 65 anos de idade • mínimo de 20 anos de contribuição (INSS) • mínimo de 25 anos de contribuição (servidor público federal)
Para se aposentar pelo INSS, homens que ingressarem no mercado de trabalho após a vigência das novas regras terão que contribuir por, no mínimo, 20 anos. Quem já contribui para a previdência deve ter, no mínimo, 15 anos de contribuição.
Como é hoje? Nas regras previdenciárias atualmente em vigor, é possível se aposentar pelo INSS tanto por idade (65 anos para homens e 60 para mulheres) quanto por tempo de contribuição (35 anos para homens e 30 para mulheres). Outra regra existente é a de pontuação 86/96, em que soma-se idade e anos de contribuição até atingir o mínimo de 86 para mulheres e 96 para homens. As novas regras previdenciárias acabam com a aposentadoria apenas por tempo de contribuição.
No caso dos servidores públicos federais é exigida uma idade mínima de 55 anos para mulheres e 60 anos para homens, com no mínimo 30 e 35 anos de contribuição, respectivamente. Servidores que ingressaram até dezembro de 1998 podem se aposentar a partir de 48 anos, no caso das mulheres e 53, no caso dos homens.

                    <strong>2 Alíquotas de contribuição </strong>

As alíquotas de contribuição de trabalhadores da iniciativa privada e servidores públicos agora serão progressivas de acordo com faixas salariais, de maneira similar ao que acontece com o Imposto de Renda:
Regime Geral (INSS) • Até um salário mínimo: 7,5% • De um salário mínimo a R$ 2.000: 9%
• De R$ 2.000 a R$ 3.000: 12% • De R$ 3.000 até o limite do INSS (atualmente R$ 5.839,45): 14% • Não haverá cobrança adicional nas faixas salariais acima do teto do INSS. As alíquotas vão de 7,5% a 14% para quem trabalha no setor privado. Mas, como o cálculo divide os salários em faixas que recebem descontos proporcionais, a alíquota máxima efetiva deve ser de 11,68% para quem recolhe sobre o teto do valor de contribuição.
Regime Próprio (Servidores públicos)
• Para quem recebe até um salário mínimo: 7,5% • De um salário mínimo a R$ 2.000: 9% • De R$ 2.000 a R$ 3.000: 12% • De R$ 3.000 ao teto do INSS (R$ 5.839,45): 14% • Do teto a R$ 10.000: 14,5% • De R$ 10.000 a R$ 20.000: 16,5% • De R$ 20.000 a R$ 39.000: 19% • Acima de R$ 39.000: 22% Assim como no caso da iniciativa privada, a taxação é feita sobre as faixas de valores do salário, portanto a alíquota máxima efetiva para os servidores públicos deve ser de 16%.
Como é hoje? São três as alíquotas para trabalhadores do setor privado: 8% de contribuição para salários de até R$ 1.751,81; 9% de R$ 1.751,82 a R$ 2.919,72; e 11% de R$ 2.919,73 até R$ 5.839,45 (teto do INSS). No serviço público, a alíquota é de 11% da remuneração.

                    <strong>3 Regra de cálculo de benefícios do INSS</strong>

Com a reforma, a regra para o cálculo dos benefícios do INSS vai funcionar da seguinte maneira:
<strong>Homens e mulheres</strong>

• Ao atingir o tempo mínimo de contribuição de 15 anos, o trabalhador pode se aposentar ganhando 60% da média dos salários de contribuição (remuneração que servia de base para o recolhimento ao INSS). • Essa parcela aumenta 2% a cada ano a mais de contribuição ao INSS até atingir 100% da média com 35 anos de contribuição, para mulheres, e 40 anos, para homens.
• O benefício será calculado considerando a média de todas as contribuições feitas ao INSS
Como é hoje? Nas regras atuais, o valor do benefício na aposentadoria por idade começa em 70% da média dos salários de contribuição e soma 1% a cada ano a mais trabalhado, até o limite de 100%.
Já quem se aposenta por tempo de contribuição tem o valor do benefício reduzido pelo fator previdenciário. Há também a opção de aposentadoria com o valor integral a partir da regra 86/96: somando idade e tempo de contribuição, mulheres devem acumular 86 anos e homens, 96.
Hoje o INSS calcula o benefício a partir da média dos 80% maiores salários do trabalhador, descartando os 20% menores. Com a reforma, o cálculo será feito pela média de todas as contribuições.

                    <strong>4 Regra de cálculo de benefícios de servidores federais</strong>

Também foram alteradas as regras para a aposentadoria de servidores públicos federais:
<strong>Homens e mulheres</strong>

As regras referentes ao valor do benefício variam de acordo com a data em que o servidor ingressou no setor público federal:
 Quem entrou antes de 2003: poderá receber a aposentadoria integral (o valor do benefício será igual ao do último salário recebido) e ter paridade (a aposentadoria será reajustada junto com os reajustes nos salários dos servidores na ativa) se cumprir o pedágio de trabalhar o dobro do tempo que faltaria para o servidor se aposentar segundo as regras atuais.

 Quem entrou entre 2003 e 2013: o valor do benefício será de, no mínimo, 60% da média das contribuições feitas a partir de julho de 1994. Serão acrescidos 2% ao valor da aposentadoria até o máximo de 100% para cada ano de contribuição que superar 20 anos de recolhimento, limitado ao teto do salário do funcionalismo público.

 Quem ingressou após 2013: também vale a regra acima. Mas a média das contribuições não vai poder superar o teto do INSS.
Servidores municipais e estaduais não são afetados pela PEC 6/2019 em relação aos benefícios.
Como é hoje? Atualmente, os homens que são servidores públicos precisam ter 60 anos de idade mínima para se aposentar, e as mulheres, 55 anos, com mínimo de 30 e 35 anos de contribuição respectivamente. Quem ingressou até 2003 a regra atual prevê direito à integralidade e à paridade. Quem ingressou entre 2003 e 2013, a aposentadoria é calculada pela média dos 80% dos maiores salários, com reajuste pela inflação. Para ingressantes após 2013, a aposentadoria equivale à média dos 80% maiores salários, limitado ao teto no INSS.

                    <strong>5 Aposentadoria rural</strong>

A reforma da Previdência não alterou as principais regras do segurado especial rural, que são os produtores rurais em regime de economia familiar, extrativistas e pescadores.
Homens • 60 anos de idade • 15 anos de tempo de contribuição
Mulheres • 55 anos de idade • 15 anos de tempo de contribuição

                    <strong>6 Aposentadoria especial</strong>

A reforma da Previdência prevê aposentadoria especial de trabalhadores expostos a substâncias nocivas dentro de um sistema de pontos. A pontuação vai considerar a idade e o tempo de contribuição, que varia de acordo com o tipo de agente nocivo que foram expostos (15, 20 ou 25 anos).
Ou seja, aqueles que hoje se aposentariam com 15 anos de contribuição precisariam também somar 66 pontos para se aposentar (por exemplo, 51 anos de idade e 15 de contribuição ou 46 anos de idade e 20 de contribuição); já a aposentadoria aos 20 anos de contribuição exigiria 76 pontos e, por fim, 25 anos exigiriam 86 pontos.
Como é hoje? Trabalhadores nessas condições podem se aposentar por tempo de contribuição (com 15, 20 ou 25 anos, dependendo do tipo de agente a que foram expostos).

                    <strong>7 Professores</strong>

A reforma da Previdência mudou as regras de aposentadoria para quem ainda vai ingressar na carreira de professor da rede particular.
Homens: • Idade mínima de 60 anos • 30 anos de contribuição
Mulheres: • Idade mínima de 57 anos • 30 anos de contribuição
Para os professores que já estão na ativa, as idades mínimas são diferentes: 55 anos para homens e de 52 para as mulheres. Além disso, esses profissionais deverão pagar o pedágio de 100%, explicado abaixo, no tópico sobre regras de transição.
Como é hoje? Antes da reforma, os professores de escolas particulares não tinham idade mínima para se aposentar, precisando apenas comprovar o tempo mínimo de contribuição (25 anos para as mulheres, 30 para os homens).

                    <strong>8 Policiais federais e agentes de segurança</strong>

Policiais federais, rodoviários federais, ferroviários federais, agentes penitenciários e socioeducativos, policiais civis do Distrito Federal e policiais legislativos federais devem cumprir os seguintes requisitos na hora de se aposentar, segundo o texto da reforma da Previdência:
Homens em atividade • 53 anos de idade mínima; • Pedágio de 100% sobre o tempo restante de contribuição de acordo com as regras atuais.
Mulheres em atividade • 52 anos de idade mínima; • Pedágio de 100% sobre o tempo restante de contribuição de acordo com as regras atuais.
Homens que ainda não entraram em carreira • 55 anos de idade mínima; • 30 anos de contribuição; • 20 anos de contribuição em cargo estritamente policial.
Mulheres que ainda não entraram em carreira • 55 anos de idade mínima; • 25 anos de contribuição; • 15 anos de contribuição em cargo estritamente policial.
Como é hoje? Atualmente, não há idade mínima e policiais podem se aposentar após 30 anos de contribuição (sendo 20 dedicados à atividade policial), no caso dos homens, e 25 anos (com 15 anos dedicados à atividade policial), no caso das mulheres. É importante ressaltar também que, hoje, agentes penitenciários e socioeducativos não integram nenhum tipo de regime especial.

                    <strong>9 Parlamentares</strong>

Parlamentares que já estejam inscritos no sistema de aposentadoria especial terão que cumprir pedágio de 30% do tempo de contribuição faltante de acordo com as regras atuais. A idade mínima também foi aumentada: agora é necessário atingir 65 anos, no caso dos homens, e 62 anos, no caso das mulheres.
A reforma da Previdência extingue o Plano de Seguridade Social dos Congressistas, que atualmente permite que um parlamentar se aposente com benefícios integrais depois de 35 anos de mandato ou 60 anos de idade (os números são válidos tanto para homens quanto para mulheres). Com a reforma, os novos deputados e senadores a serem eleitos para ocupar cargos obedecerão às regras do Regime Geral de Previdência Social.
Como é hoje? Nas regras atuais, a alíquota de contribuição é de 11% do valor do subsídio parlamentar, que é de R$ 33.763.

                    <strong>10 Pensão por morte</strong>

O valor da pensão por morte será igual a 50% da aposentadoria do segurado morto acrescido de 10% para cada dependente até o limite de 100%. Essa regra vale tanto para os servidores públicos quanto para os trabalhadores do setor privado. O benefício não pode ser inferior a um salário mínimo se ele for a única fonte de renda do dependente.
A pensão por morte é o benefício pago aos dependentes do segurado (cônjuge, filhos menores de 21 anos ou inválidos, pais economicamente dependentes e irmãos menores de 21 anos não emancipados) após a sua morte. Quem já recebe esse tipo de pensão não terá o valor de seu benefício alterado.
Como é hoje? Antes da reforma, a pensão por morte equivalia a 100% da aposentadoria que o segurado recebia ou teria direito a receber. A duração do benefício varia de acordo com a idade do dependente que o recebe e é vitalícia, no caso de cônjuge, se ele ou ela tem idade a partir de 44 anos.
11 Benefício de Prestação Continuada
A reforma da Previdência prevê o pagamento de BPC (Benefício de Prestação Continuada), benefício mensal de um salário mínimo pago a idosos e deficientes pobres, àqueles que tiverem renda familiar per capita de até meio salário mínimo (R$ 499, em 2019).
Como é hoje? A Lei Orgânica da Assistência Social, de 1993, estabelece que têm direito ao BPC idosos e deficientes com renda familiar per capita de até um quarto do salário mínimo (que seria R$ 249,50). A regra, porém, foi considerada inconstitucional pelo STF (Supremo Tribunal Federal) em 2013. Na decisão, os ministros estipularam o patamar de meio salário mínimo para concessão do benefício.</p>

12 Abono salarial (PIS/PASEP)
As regras do abono salarial não foram mexidas. Trabalhadores que recebem até dois salários mínimos (hoje, R$ 1.996), estão inscritos no PIS/Pasep há pelo menos cinco anos e trabalharam ao menos um mês no ano anterior ganham do governo um abono de até um salário mínimo (R$ 998). O benefício é pago em proporção ao tempo trabalhado no ano anterior – 12 meses dão direito ao valor integral.
As mudanças que propunham restringir o pagamento do abono foram excluídas na tramitação da reforma no Senado. Na proposta enviada ao Congresso pelo governo Bolsonaro, o abono ficaria restrito a quem ganha até um salário mínimo. No Senado, a restrição do benefício foi mantida no relatório do senador Tasso Jereissati (PSDB-CE), mas foi retirada na votação dos destaques (alterações propostas por senadores).
13 Regras de transição
A regras de transição vão até 2032 e valem apenas para quem já está no mercado de trabalho. No caso de trabalhadores do setor privado, são cinco opções. Para os servidores públicos federais, só duas dessas regras são válidas.
• Tempo de contribuição e idade mínima: será possível se aposentar aos 56 anos, no caso das mulheres, e 61 anos, no caso dos homens. A partir da data de promulgação da reforma, esses patamares serão acrescidos gradualmente de mais seis meses, até que a idade de 65 anos para homens e 62 anos para mulheres seja atingida em 2033. Nesse caso, é importante ressaltar que os tempos mínimos de contribuição, de 35 anos para os homens e 30 anos para mulheres, devem ser respeitados.
• Idade mínima: a regra vale para homens com 65 anos e ao menos 15 de contribuição e as mulheres com 60 anos e 15 de contribuição. A partir de 2020, o tempo de contribuição dos homens vai crescer seis meses por ano, chegando a 20 anos em 2029. Já a contribuição das mulheres permanece em 15 anos, mas a idade mínima vai crescer seis meses a cada ano a partir de 2020, chegando a 62 em 2023.
• Pedágio de 50%: quem poderia se aposentar em até dois anos segundo as regras atuais terá que cumprir mais 50% do tempo que resta para atingir o mínimo (35 anos para homens e 30 anos para mulheres).
• Pedágio de 100% (válido também para servidores): quem já poderia se aposentar por tempo de contribuição terá que optar por cumprir 100% a mais do que restar, a partir da data de promulgação da reforma, para atingir o mínimo (35 para homens e 30 para mulheres). Nesse caso, a remuneração recebida passa a ser o valor integral.
• Sistema de pontuação: há, por fim, um sistema de pontuação que soma a idade e o tempo de contribuição e tende a beneficiar quem começou a trabalhar mais cedo. Para mulheres, a soma deve ser de 86 pontos; para homens, de 96. Ao longo do período de transição, esses valores aumentam até chegar a 100 para mulheres e 105 para homens em 2032. Nesse caso, professores terão direito a uma redução de cinco pontos.
• Sistema de pontuação para servidores federais: Essa regra é específica para servidores, não vale no INSS, que atende trabalhadores da iniciativa privada. Eles têm outras regras.
Para conseguir a aposentadoria, a soma da idade com o tempo de contribuição deve dar 96 pontos, no caso dos homens, ou 86 pontos, no das mulheres.
Essa pontuação vale apenas para este ano. Ela vai subir um ponto por ano, até chegar a 105 pontos para os homens, em 2028, e 100 pontos para as mulheres, em 2033.
Além disso, há idade e tempo de contribuição mínimos para conseguir se enquadrar nessa regra.
Em 2019, homens precisam ter pelo menos 61 anos, e mulheres 56. Essa idade mínima vai aumentar em 2022: homens precisarão de 62 anos e mulheres, de 57.
O período mínimo de contribuição não muda ao longo do tempo. Homens devem cumprir 35 anos de contribuição e mulheres, 30 anos. Ambos precisam de 20 anos no serviço público e cinco no cargo que vão se aposentar.
2) Pedágio de 100%: Essa regra vale tanto para servidores, quanto para profissionais da iniciativa privada:
Homens conseguem se aposentar a partir dos 60 anos, e mulheres, dos 57, mas precisam pagar um "pedágio". Ele é de 100% do tempo que falta para chegar aos 35 anos de contribuição (homens) ou 30 anos (mulheres) na data que a reforma começar a valer.
Por exemplo: se no dia em que a reforma entrar em vigor faltar dois anos conseguir se aposentar, precisará trabalhar quatro anos.
Valor da aposentadoria:
Se alcançar os requisitos de uma das regras, o servidor que entrou no serviço público até 31 de dezembro de 2003 pode garantir uma aposentadoria com valor maior.
Ele alcança a paridade e a integralidade, ou seja, aposentadoria igual ao seu último salário e que é ajustada conforme o aumento da remuneração dos servidores na ativa. Para isso, porém, precisam ter pelo menos 65 anos de idade (homem), 62 anos (mulher).
O cálculo dos que entraram a partir de 2004 depende da regra em que se enquadraram. Quem entrar na regra de pontos terá o valor calculado da mesma forma que os demais trabalhadores.
Nela, o valor da aposentadoria parte de 60% da média de contribuições, com dois pontos percentuais a mais por ano que contribuir além de 20 anos.
Esse cálculo também vale para quem optou por fundo de previdência complementar.
Na regra do pedágio de 100%, o valor da aposentadoria é de 100% da média das contribuições. </p>

</div>



<br><br><br>
<footer>
   
        
    <h4> RODAPÉ</h4>

 
   
  
</footer>





</body>
</html>