<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/logorecicleja1.jpg"    >
    <link href="https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script:wght@600&family=IBM+Plex+Sans&family=IBM+Plex+Serif&display=swap" rel="stylesheet">
   
    <link rel="stylesheet"  type="text/css" href="css/reset.css">
    <link rel="stylesheet"  type="text/css" href="css/style.css">
    <link rel="stylesheet"  type="text/css" href="css/normalize.css"> 
    <title>Pag.2-Regras Previdenciárias Permanentes</title>
</head>
<body>
    <nav class="logo">
        <a href="index.html"> 
            <img src="img/previdencia.jpg">  
        </a>
        <br> <br>   <br> <br>
teste
        <ul>
            <li><a href="#notícias"> Noticias</a></li>
            <li><a href="#sobre">Sobre</a></li>
            <li><a href="#direitos">Direitos e Deveres</a></li>
            <li><a href="#calculos">Cálculos</a></li>
            <li><a href="#faleconosco">Fale Conosco</a></li>
            <li><a href="#entrar_cadastrar">Entrar/Cadastrar</a></li>
        </ul>

    </nav>
  
    
    <header>
        <h1><strong>REGRAS PREVIDENCIÁRIAS PERMANETES</strong></h1>
       
    </header>

    <div>
        <img src="img/previdencia.jpg">
    </div>

          
    <div class="texto">
                      
                <p>
                    As novas regras previdenciárias no Brasil, estão em vigor desde 2019, mas ainda geram dúvidas nos segurados.

Com a promulgação da chamada Reforma da Previdência, os trabalhadores no país estão sujeitos a exigências mais rígidas para solicitar os benefícios da Previdência Social.

Houve mudanças significativas na idade mínima, tempo de contribuição e cálculo do benefício, por exemplo, além da criação de regras de transição específicas.

Em resumo: no geral, ficou mais difícil de se conseguir um benefício previdenciário.

                    No caso de aposentadoria, as novas regras da Previdência prevêem aposentadoria no INSS e no serviço público federal para trabalhadores urbanos se cumpridos os seguintes requisitos:
<p> <strong> Mulheres </strong> • 62 anos de idade • mínimo de 15 anos de contribuição (INSS) • mínimo de 25 anos de contribuição (servidor público federal) </p>
<p><strong> Homens </strong> • 65 anos de idade • mínimo de 20 anos de contribuição (INSS) • mínimo de 25 anos de contribuição (servidor público federal) </p> 
</p>
<p>Para se aposentar, homens que ingressarem no mercado de trabalho após a vigência das novas regras terão que contribuir por, no mínimo, 20 anos. Quem já contribui para a previdência deve ter, no mínimo, 15 anos de contribuição. </p>

<p> Trabalhadores Rurais e de Economia Familiar – 60 (sessenta) anos de idade, se homem, e 55 (cinquenta e cinco) anos de idade, se mulher, para os trabalhadores rurais e para os que exerçam suas atividades em regime de economia familiar, nestes incluídos o produtor rural, o garimpeiro e o pescador artesanal. </p>
<p>Resta destacar que os professores terão o requisito da idade reduzido em 5 (cinco) anos, estando excluídos os professores da educação superior.</p>

             

</div>



<br><br><br>
<footer>
   
        
    <h4> RODAPÉ</h4>

 
   
  
</footer>





</body>
</html>
