<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados</title>

    <!-- css -->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/resultados.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>

<body>
    <h1>Resultados</h1>
    <div class="bloco">

        <div class="dados">
            <!-- <a href="https://www.flaticon.com/br/icones-gratis/salario" title="salário ícones">Salário ícones criados por Freepik - Flaticon</a> -->
            <div class="titulo">
                <img src="img/informacao-pessoal.png" alt="flaticon" width="60px">
                <h2>Confira seus Dados Pessoais</h2>
            </div>
            <table>
                <div class="linha">
                    <tr>
                        <th>Gênero
                        </th>
                        <td></td>
                    </tr>
                </div>
                <div class="linha">
                    <tr>
                        <th>Idade</th>
                        <td></td>
                    </tr>
                </div>
                <div class="linha">
                    <tr>
                        <th>Tempo de Contribuição</th>
                        <td></td>
                    </tr>
                </div>
            </table>
        </div>

        <div class="resultados">
            <!-- <a href="https://www.flaticon.com/br/icones-gratis/fluxo-de-dinheiro" title="fluxo de dinheiro ícones">Fluxo de dinheiro ícones criados por cubydesign - Flaticon</a> -->
            <div class="titulo">
                <img src="img/fluxo-de-dinheiro.png" alt="flaticon" width="70px">
                <h2>Confira seus Resultados</h2>
            </div>
            <table>
                <div class="linha">
                    <tr>
                        <th>Com que idade poderei me aposentar?</th>
                        <td></td>
                    </tr>
                </div>
                <div class="linha">
                    <tr>
                        <th>Em que mês e ano poderei me aposentar?</th>
                        <td></td>
                    </tr>
                </div>
                <div class="linha">
                    <tr>
                        <th>Quanto tempo ainda devo contribuir?</th>
                        <td></td>
                    </tr>
                </div>
                <div class="linha">
                    <tr>
                        <th>Qual será o valor do meu benefício?</th>
                        <td></td>
                    </tr>
                </div>
            </table>

        </div>

        <div class="clique">
            <div class="botao">
                <button type="submit"><a href="simule.html">nova consulta</a></button>
            </div>
            <div class="botao">
                <button type="submit"><a href="index.html">página inicial</a></button>
            </div>
        </div>


    </div>
</body>

</html>