<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Css -->
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/simule.css">
  <link rel="stylesheet" href="css/slick-1.8.1/slick/slick.scss">
  <link rel="stylesheet" href="css/slick-1.8.1/slick/slick-theme.css">

  <!-- Ícones -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Title -->
  <link rel="shortcut icon" href="img/logo.jpg" type="image/x-icon">
  <link rel="icon" href="img/favicon.ico" type="image/x-icon">
  <title>Simule Aqui | Previdência Aqui</title>
</head>

<body>
  <nav class="logo">
    <div class="menu">
     <a href="/">
       <img src="./img/logo.jpg" width="100px" alt="Logotipo do site, contendo o nome da página, que se chama Previdência Aqui, e as letras P e A em destaque" title="Previdência Aqui">
     </a>
 
     <legend><button id="mostrar"><i class="fa-solid fa-bars" style="color: #fff;"></i></button></legend>
 
    </div>
 
    <ul class="nav-list">
      <li><a href="/">Início</a></li>
      <li><a href="/sobre">Sobre</a></li>
      <li><a href="/direitos">Regras</a></li>
      <li><a href="/simule">Simule</a></li>
      <li><a href="/fale">Contato</a></li>
      <li><a href="/boletim">Informativo</a></li>
      <li><a href="/entrar">Entrar</a></li>
     </ul>
   </nav>
  
  <main>
    <div class="titulo">
        <h1>Simule: calcule sua aposentadoria aqui!</h1>
        <blockquote class="item">
            <p>A partir da Emenda Constitucional 103/2019, que entrou em vigor em 13 de novembro de 2019, <strong>o
                    cálculo
                    da aposentadoria</strong> para os trabalhadores que ingressaram no sistema previdenciário após a
                vigência da
                reforma <strong>mudou</strong> em relação ao modelo anterior.</p>
            <p>Agora, o trabalhador precisará atingir a <strong>idade
                mínima</strong> de 62 anos, se mulher, e 65 anos, se homem, além de ter no mínimo 15 anos de <strong>contribuição</strong>
                para a
                Previdência Social, se mulher e 20 anos no caso de homem. Para esses casos, o cálculo do benefício
                previdenciário passou a ser feito com base na média aritmética simples de todos os salários de
                contribuição do trabalhador desde julho de 1994, corrigidos mês a mês pelo fator de atualização
                fornecido pelo governo, com base no inpc acumulado. O valor do benefício, então, será equivalente a
                60%
                da média salarial, acrescido de 2% para cada ano de contribuição que exceder o tempo mínimo de 15 ou
                20
                anos, respectivamente, se mulher ou homem.</p>
            <p><i>Nessa página, disponibilizamos um recurso que ajudará
                    o
                    beneficiário da previdência a fazer uma simulação de cálculo do seu benefício, devendo para
                    tanto
                    preencher os dados necessários (salários de contribuição, data de nascimento e sexo).</i></p>
        </blockquote>
    </div>

    <div class="corpo">

      <div class="imagem">

        <img src="img/senhor.png" title="Simule Aqui"
        alt="Figura representando um idoso sorrindo com os braços apontando para o lado" class="foto">
        <span><button id="ver" class="typing">Simule Aqui</button></span>
      
      
      
      
      <div class="bloco">
        <form id="formulario" action="/simule" method="POST">
          <div class="tabela" id="minhaTabela">
            <img src="img/salario.png" alt="flaticon" width="60px">
            <h2>1. Informe o salário recebido correspondente ao mês/ano trabalhado<br></h2>
            <table>
              <thead>
                <tr>
                  <th>
                    <h2>MÊS / ANO</h2>
                  </th>
                  <th>
                    <h2>SALÁRIO (R$)</h2>
                  </th>
                </tr>
              </thead>
              <tbody>
                <!-- <tr>
                  <td><input type="month" name="mesAno"></td>
                  <td><input type="number" name="salario"></td>
                </tr> -->
              </tbody>
            </table>

            <table id=""></table>

            <button type="button" id="adicionarLinha">Adicionar Linha</button>
          </div>
          <div class="container">
            <img src="img/genero.png" alt="flaticon" width="60px">
            <h2>2. Selecione o seu Gênero</h2>
            <div class="genero">
              <div class="genero">
                <input type="checkbox" name="masculino" id="masculino" onclick="desmarcarCheckbox('masculino')">Masculino
              </div>
              <div class="genero">
                <input type="checkbox" name="feminino" id="feminino" onclick="desmarcarCheckbox('feminino')">Feminino
              </div>
            </div>
          </div>
          <div class="container">
            <img src="img/calendario.png" alt="flaticon" width="57px">
            <h2>3. Insira a sua Data de Nascimento</h2>
            <input type="date" class="data" name="dataNascimento">
          </div>
          <div class="clique">
            <div class="botao">
              <button type="submit"><a href="resultados.html">Simular</a>
            </div>
            <div class="apagar">
              <button type="reset">apagar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>
  
  <footer>
    <h3>&copy; 2023 Previdência Aqui. Todos os direitos reservados.</h3>

    <div class="social">

      <i class="fab fa-facebook"></i>
      <!--código para o js: <font-awesome-icon :icon="['fab', 'facebook']" />-->
      <i class="fab fa-twitter"></i>
      <!--código para o js:<font-awesome-icon :icon="['fab', 'twitter']" />-->
      <i class="fab fa-instagram-square"></i>
      <!--código para o js: <font-awesome-icon :icon="['fab', 'square-instagram']" />-->
    </div>
  </footer>
  <script src="js/simule.js"></script>
  <script src="js/index.js"></script>
</body>

</html>