<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Css -->
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/sobre.css">

    <!-- Ícones -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Title -->
    <link rel="shortcut icon" href="img/logo.jpg" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <title>Sobre | Previdência Aqui</title>

</head>

<body>
    <nav class="logo">
        <div class="menu">
            <a href="index.html">
                <img src="./img/logo.jpg" width="100px"
                    alt="Logotipo do site, contendo o nome da página, que se chama Previdência Aqui, e as letras P e A em destaque"
                    title="Previdência Aqui">
            </a>
            <legend><button id="mostrar"><i class="fa-solid fa-bars" style="color: #fff;"></i></button></legend>
        </div>
        <ul class="nav-list">
            <li><a href="/">Início</a></li>
            <li><a href="/sobre">Sobre</a></li>
            <li><a href="/direitos">Regras</a></li>
            <li><a href="/simule">Simule</a></li>
            <li><a href="/contato">Contato</a></li>
            <% if (typeof user === "undefined"){ %>
				<li><a href="/entrar">Entrar</a></li>

			<% } else { %>
				<form action="/logout" method="post" class="sair">
					<input type="submit" value="Sair" >
				</form>
			<% } %>
        </ul>

    </nav>
   
    <main>
        <div id="sobre">
            <div class="titulo">
                <h1>Sobre nós: </h1><br>
                <h2 class="esconder">"Seja bem-vindo ao nosso blog sobre Previdência Social!"</h2>
                <h2 class="typing">"Seja bem-vindo ao nosso blog sobre Previdência Social!"</h2>
            </div>
            <img src="./img/sobre.png" title="Fazendo cálculos"
                alt="Figura contendo um casal de idosos e um rapaz mais jovem fazendo cálculos financeiros"
                class="imagem">

            <p>Somos uma equipe de estudantes do IFSP de caraguatatuba e desenvolvemos este projeto, em nosso curso
                Técnico de Informática para Internet, contendo informações sobre "Previdência Social".</p>
            <p>Neste blog, iremos compartilhar informações sobre este tema e como a tecnologia pode
                colaborar com recursos que disponibilizam conhecimentos relevantes sobre esta questão.</p>
            <p>A Seguridade Social é um tema muito importante que afeta a vida de milhões de pessoas em todo o mundo,
                por ser um sistema complexo que envolve muitas leis, regulamentos e políticas.</p>
            <p>Nosso objetivo neste blog é colaborar para que as pessoas possam compreeder e tirar dúvidas sobre o
                assunto, a fim de conhecer e se beneficiar de seus direitos por meio da tecnologia, facilitando
                aquisição de
                conhecimentos sobre a Previdência Social.</p>
            <p>Compartilharemos notícias e informações acerca desta matéria, além de uma news letter para quem
                quiser
                receber novas informações. Esperamos que você goste do blog e encontre referências úteis com a ajuda da
                tecnologia, um instrumento eficaz.</p>
            <p>Se você tiver alguma dúvida ou sugestão, sinta-se à vontade para entrar em contato conosco.<br> Obrigado
                por
                visitar o blog!</p>
        </div><br>
    </main><br>

    <section>
        <div class="container">
            <div class="item" id="renato">
                <img src="./img/renato.jpg" alt="renato">
                <p>Renato Venícius<br><span>"Procuro realizar e desenvolver esse projeto com muito empenho"</span></p>
            </div>
            <div class="item">
                <img src="./img/val.jpg" alt="val">
                <p>Valdemir Souza<br><span>"Estou adaptando meus conhecimentos na área previdenciária a este
                        trabalho"</span></p>
            </div>
            <div class="item">
                <img src="./img/selma.jpg" alt="selma">
                <p>Selma Braslavski<br><span>"Desenvolver parcerias e aprendendizado nesta área favorecem oportunidades
                        e
                        conhecimento!"</span></p>
            </div>
        </div>
    </section>


    <footer>
		<div class="social">
		  <p>Nossas redes sociais:</p>
		  <div class="redes">
			<i class="fab fa-facebook"></i>
			<!--código para o js: <font-awesome-icon :icon="['fab', 'facebook']" />-->
			<i class="fab fa-twitter"></i>
			<!--código para o js:<font-awesome-icon :icon="['fab', 'twitter']" />-->
			<i class="fab fa-instagram-square"></i>
			<!--código para o js: <font-awesome-icon :icon="['fab', 'square-instagram']" />-->
		  </div>
		</div>
		<div class="visita">
		  <p>Comece agora a planejar sua aposentadoria</p><a href="/simule" class="consulta">simule</a>
		</div>
		<p class="copy">&copy; 2023 Previdência Aqui. Todos os direitos reservados.</p>
	
	
	  </footer>

    <script src="js/index.js"></script>
</body>

</html>