<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Css -->
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/sobre.css">

    <!-- Ícones -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Title -->
    <link rel="shortcut icon" href="img/logo.jpg" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <title>Sobre | Previdência Aqui</title>

</head>

<body>
    <nav class="logo">

        <a href="/">
            <img src="./img/logo.jpg" width="100px"
                alt="Logotipo do site, contendo o nome da página, que se chama Previdência Aqui, e as letras P e A em destaque"
                title="Previdência Aqui">
        </a>

        <ul>
            <li><a href="/">Página Inicial</a></li>
            <li><a href="/sobre">Sobre</a></li>
            <li><a href="/direitos">Direitos e Deveres</a></li>
            <li><a href="/simule">Simule Aqui</a></li>
            <li><a href="/fale">Fale Conosco</a></li>
            <li><a href="/boletim">Boletim Informativo</a></li>
            <li><a href="/entrar">Entrar</a></li>
        </ul>

    </nav>
    <hr>

    <main>
        <h1>Sobre nós</h1><br>
        <div id="sobre">
            <img src="./img/f6.jpg" title="Fazendo cálculos" alt="Figura contendo um casal de idosos e um rapaz mais jovem fazendo cálculos financeiros">
        </div><br>
        <p style="background-color: rgb(92, 129, 230); font-weight: bold; text-align: center; margin: 20px 0px;">Olá sejam
            bem-vindos ao nosso
            blog sobre Previdência Social!</p>
        <p>Somos uma equipe de estudantes do IFSP de caraguatatuba e desenvolvemos este projeto, em nosso curso Técnico
            de Informática para Internet, contendo informações sobre "Previdência Social".</p><br>
        <p>Neste blog, iremos compartilhar opiniões e ideias sobre a Previdência Social e como a tecnologia pode
            colaborar disponibilizando conhecimentos relevantes sobre esta questão.</p><br>
        <p>A Previdência Social é um tema muito importante, que afeta a vida de milhões de pessoas em todo o mundo. É um
            sistema complexo que envolve muitas leis, regulamentos e políticas. Meu objetivo neste blog é ajudar as
            pessoas a entender melhor como a Previdência Social funciona e como elas podem se beneficiar dela.</p><br>
        <p>Promover recursos, por meio da tecnologia, que posssam ser utilizados para facilitar aquisição de
            conhecimentos sobre a Previdência Social.</p><br>
        <p>Compartilharemos notícias e informações sobre a Previdência Social, além de uma news letter para quem quiser
            receber novas informações. Esperamos que você goste do blog e encontre referências úteis para entender
            melhor a Previdência Social e como a tecnologia pode ajudar a melhorar sua eficácia.</p><br>
        <p>Se você tiver alguma dúvida ou sugestão, sinta-se à vontade para entrar em contato conosco. Obrigado por
            visitar o blog!</p><br>
    </main><br>

    <footer>
        <h3>&copy; 2023 Previdência Aqui. Todos os direitos reservados.</h3>

        <div class="social">

            <i class="fab fa-facebook"></i>
            <!--código para o js: <font-awesome-icon :icon="['fab', 'facebook']" />-->
            <i class="fab fa-twitter"></i>
            <!--código para o js:<font-awesome-icon :icon="['fab', 'twitter']" />-->
            <i class="fab fa-instagram-square"></i>
            <!--código para o js: <font-awesome-icon :icon="['fab', 'square-instagram']" />-->
        </div>
    </footer>

</body>

</html>