body {
  background: #639cbf;
  font-family: Helvetica, cursive;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('../img/f9.jpg');
  background-size: cover;
  
}

main {
  
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 20px;
  flex: 1;
  
}

.logo img {
  border-radius: 50%;
  border: 5px solid #fff;
  padding: 5px;
  margin: 15px;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(rgb(38, 38, 179), rgb(124, 128, 187), rgb(161, 187, 209));
  padding: 10px;
  opacity: 55%;
}



nav ul {
  list-style: none;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x: auto;
  margin-top: 1;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  margin-right: 15px;
}



nav ul li {
  text-align: center;
  width: 100%;
  font-size: 15px;
  border: 1px solid #ccc;
  padding: 3px;
  list-style-position: inside;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);

}

nav:hover {
  opacity: 100%;
}

nav ul li a {
  display: inline-block;
  padding: 3px 0;
  width: 100%;
  text-decoration: none;
  color: #fff;
}

@media screen and (min-width: 768px) {

  /* Cabeçalho ou Barra de Navegação */
  nav {
    flex-direction: row;
    justify-content: space-around;
  }

  nav ul {
    flex-direction: row;
    width: 100%;
  }
}

h1 {
  font-size: 40px;
  padding: 20px 0px 10px 0px;
  font-family: cursive;
  line-height: 45px;
}

.login {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.container {
  font-size: 16px;
  background-color: #79f2c6;
  box-shadow: 1.2em #000;
  height: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 140px;
  padding: 20px 50px;
  border: 2px solid transparent;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  opacity: 55%;
}

.container:hover {
  opacity: 100%;
}

.titulo {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  gap: 10px;
}

.cadastro {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.botao {
  margin-top: 10px;
  font-size: 16px;
  box-shadow: 1.2em #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 10px;
  width: 100px;
}

input {
  border-style: none;
  background: #fff;
  width: 350px;
  background-clip: padding-box;
  height: 40px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  font-family: cursive;
  font-size: 16px;
  outline: none;
}

input:hover {
  color: #000;
}

button {
  font-weight: 800;
  font-size: 20px;
  font-family: cursive;
}

::placeholder {
  color: #000;
}

legend {
  padding-bottom: 20px;
}

footer {
  margin-top: 60px;
  color: rgb(10, 10, 10);
  padding: 1px;
  background-image: linear-gradient(rgb(52, 65, 240), rgb(208, 233, 230), rgb(21, 14, 124));
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  opacity: 55%;
}

footer:hover {
  opacity: 100%;
}

.social {
  gap: 10px;
  font-size: 30px;
  margin-right: 5%;
  display: flex;
  align-items: center;
}

h3 {
  display: flex;
  font-size: 20px;
  margin-left: 25px;
  margin-top: 10px;
}