body {
  font-family: Helvetica, cursive;
  background-color: #4174d9;

}

h1 {
  text-align: center;
  font-family: cursive;
  font-size: 40px;
  box-shadow: #080808;
}


/*Cabeçalho ou Barra de Navegação*/

h1 {
  text-align: center;
  margin: 10px 0;
}

.logo img {
  border-radius: 50%;
  border: 5px solid #fff;
  padding: 5px;
  margin: 15px;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(rgb(38, 38, 179), rgb(124, 128, 187), rgb(161, 187, 209));
  padding: 10px;
}

nav ul {
  list-style: none;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x: auto;
  margin-top: 1;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  margin-right: 15px;
}

nav ul li {
  text-align: center;
  width: 100%;
  font-size: 15px;
  border: 1px solid #ccc;
  padding: 3px;
  list-style-position: inside;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);

}

nav ul li a {
  display: inline-block;
  padding: 3px 0;
  width: 100%;
  text-decoration: none;
  color: #fff;
}

   @media screen and (min-width: 768px) {

  /* Cabeçalho ou Barra de Navegação */
  nav {
    flex-direction: row;
    justify-content: space-around;
  }

  nav ul {
    flex-direction: row;
    width: 100%;
  }


  h1 {
    padding: 10px;
    text-shadow: 5px 5px 10px rgba(245, 247, 250, 0.5);
  }

  .item {
    font-size: 20px; /* Tamanho da fonte padrão */
   
/*  @media screen and (max-width: 600px) {
    .item {
      font-size: 16px; /* Tamanho da fonte para telas menores que 600px de largura */
  }
    
    /* Estilos para telas menores que 600px */
    @media screen and (max-width: 600px) {
      max-width: 100%; /* Utilize toda a largura disponível */
      padding: 5%; /* Aumente o preenchimento */
    }
  

   
  .container {
    display: flex;
    flex-direction: column;
    padding: 20px;
  
    
    /* Estilos para telas menores que 600px */
    @media screen and (max-width: 600px) {
      max-width: 100%; /* Utilize toda a largura disponível */
      padding: 5%; /* Aumente o preenchimento */
    }
  } 
  }

  .box {
    display: flex;
    background-image: linear-gradient(to bottom, #f2e5d5, #4a74b8);
    padding: 2%;
   /* padding: 20px; */
    text-align: center;
    box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.3);
 
 /* .box {
    display: flex;
    background-image: linear-gradient(to bottom, #f2e5d5, #4a74b8);
    padding: 2%; /* Use uma unidade relativa, como porcentagem */
  /*  text-align: center;
    box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.3);
    max-width: 300px; /* Largura máxima para a caixa */
  
    /* Estilos para telas menores que 600px */
    @media screen and (max-width: 600px) {
    max-width: 100%; /* Utilize toda a largura disponível */
    padding: 5%; /* Aumente o preenchimento */
  }
}

  .box img {
    width: 20em;
    height: 20em;
    padding: 20px;
  }

  h2 {
    font-size: 1.5rem;
    text-align: center;
  }

  .lista {
    list-style-type: square;
    margin: 0;
    padding-left: 20px;
    font-size: 20px;
    text-align: justify;
    line-height: 2.0;
    margin-bottom: 10px;
    margin-left: 20px;
    border: 1px solid #ccc;
    padding: 5px;
    list-style-position: inside;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  }

  figcaption {
    font-size: 24px;
    font-weight: bold;
    text-shadow: 0 0 10px #fff;
    z-index: 1;
  }

  .social {
    gap: 30px;
    font-size: 35px;
    margin-right: 5%;
  }

  h3 {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    margin-left: 25px;
    margin-top: 10px;
  }

  footer {
    color: rgb(10, 10, 10);
    padding: 3px;
    border-top: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    background-image: linear-gradient(rgb(52, 65, 240), rgb(208, 233, 230), rgb(21, 14, 124));
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
