body {
  font-family: Helvetica, cursive;
  background-color: #639cbf;
}


/*Cabeçalho ou Barra de Navegação*/

.logo img {
  border-radius: 50%;
  border: 5px solid #fff;
  padding: 5px;
  margin: 15px;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(rgb(38, 38, 179), rgb(124, 128, 187), rgb(161, 187, 209));
  padding: 10px;
}

nav ul {
  list-style: none;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x: auto;
  margin-top: 1;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  margin-right: 15px;
}

nav ul li {
  text-align: center;
  width: 100%;
  font-size: 15px;
  border: 1px solid #ccc;
  padding: 3px;
  list-style-position: inside;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);

}

nav ul li a {
  display: inline-block;
  padding: 3px 0;
  width: 100%;
  text-decoration: none;
  color: #fff;
}

@media screen and (min-width: 768px) and (min-resolution: 72dpi) and (max-resolution: 300dpi) {

  /* Cabeçalho ou Barra de Navegação */
  nav {
    flex-direction: row;
    justify-content: space-around;
  }

  nav ul {
    flex-direction: row;
    width: 100%;
  }

  .search-bar {
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  }

  .search-bar input[type="text"] {
    width: 100%;
    padding: 12px;
    font-weight: lighter;
    font-size: 20px;
    text-align: center;
    border: none;

  }

  .search-bar button {
    color: #000;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    padding: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    font-family: cursive;
    background: #fff;
    border: 3px solid #000;
    border-radius: 10px;
  }

  .search-bar button:hover {
    background-color: #121213;
    color: #fff;
  }


  .banner {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0px 10px;
  }

  main {
    width: 94vw;
    /* largura da div em relação à largura da tela */
    height: 80vh;
    /* altura da div em relação à altura da tela */
    margin: 20px auto;
    /* espaçamento externo nas laterais e no topo e no fundo */
    padding: 10px;
    /* espaçamento interno */
    background-image: linear-gradient(to bottom, #4382bd, #e6e6e6);
    border-radius: 10px;
  }

  h2 {
    text-indent: 15%;
    font-weight: bold;

  }

  .container {
    overflow: auto;
    padding: auto;
    width: 100%;

    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
  }

  img {
    float: left;
    margin-right: 30px;
    margin-bottom: 10px;
  }

  .container img:hover {
    transform: scale(1.1);
  }

  p {
    text-align: justify;
    font-size: 1.3em;
    line-height: 1.5;
  }

  .social {
    gap: 20px;
    font-size: 30px;
    margin-right: 5%;
  }

  h3 {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    margin-left: 25px;
    margin-top: 10px;
  }

  @media screen and (min-width: 768px) and (min-resolution: 72dpi) and (max-resolution: 300dpi) {

    h1 {
      font-size: 40px;
      text-align: center;
      margin: 10px 0px 40px 0px;
      font-family: cursive;
    }

    .noticia {
      width: 94vw;
      /* largura da div em relação à largura da tela */
      height: 80vh;
      /* altura da div em relação à altura da tela */
      margin: 20px auto;
      /* espaçamento externo nas laterais e no topo e no fundo */
      padding: 10px;
      /* espaçamento interno */
      background-image: linear-gradient(to bottom, #4382bd, #e6e6e6);
      border-radius: 10px;
    }


    .galeria {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
      grid-gap: 1em;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
    }

    figure {
      position: relative;
      overflow: hidden;
      text-align: center;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
      padding: 10%;
    }

    figure img {
      width: 100%;
      height: auto;
      max-height: 250px;
      transition: transform 0.5s ease;
    }

    figcaption {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
      opacity: 0.5;
      transition: opacity 0.5s ease;
    }

    figcaption a {
      text-decoration: none;
      color: #91b5c4;
      font-size: 1.2em;
      font-weight: bolder;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    }

    figure:hover figcaption {
      opacity: 1;
    }

    .mais a {
      text-align: center;
      border: 2px solid #f5f3f3;
      border-radius: 10px;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
      color: #4444cc;
      padding: 5px;
      font-weight: 600;
      font-family: cursive;

    }
  }

  @media screen and (min-width: 768px) {
    figure:hover img {
      transform: scale(1.1);
    }

    ::placeholder {
      color: #000;
      font-family: cursive;
      font-size: 1.0em;
    }

    .mais {
      display: flex;
      justify-content: center;
    }

    .mais a:hover {
      color: #000;
    }

    .mais a {
      font-size: 14px;
      padding: 2px;
      /* Reduz a altura do link */
    }

    .mais {
      flex-direction: column;
      align-items: center;
    }
  }

  footer {
    color: rgb(10, 10, 10);
    padding: 1px;
    border-top: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    background-image: linear-gradient(rgb(52, 65, 240), rgb(208, 233, 230), rgb(21, 14, 124));
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    font-size: 1em;
  }

}