<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Css -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/noticia.css">

    <!-- Ícones -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Title -->
    <link rel="shortcut icon" href="/img/logo.jpg" type="image/x-icon">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <title>Notícia | Previdência Aqui</title>

</head>

<body>

    <nav class="logo">
        <div class="menu">
            <a href="index.html">
                <img src="/img/logo.jpg" width="100px"
                    alt="Logotipo do site, contendo o nome da página, que se chama Previdência Aqui, e as letras P e A em destaque"
                    title="Previdência Aqui">
            </a>
            <legend><button id="mostrar"><i class="fa-solid fa-bars" style="color: #fff;"></i></button></legend>
        </div>

        <ul class="nav-list">
            <li><a href="../">Início</a></li>
            <li><a href="../sobre">Sobre</a></li>
            <li><a href="../direitos">Regras</a></li>
            <li><a href="../simule">Simule</a></li>
            <li><a href="../fale">Contato</a></li>
            <li><a href="../boletim">Informativo</a></li>
            <li><a href="../entrar">Entrar</a></li>
        </ul>

    </nav>
    <main>
        <div class="cabeca">
            <h1><%=noticia.titulo %></h1>
            <h2><%=noticia.resumo %></h2>
            <h4>*Escrito por <strong>Projeto Integrador II</strong> em <strong><%=noticia.data_publicacao %></strong>*</h4>
            <hr>
        </div>
        <div class="imagem">
            <img src="./img/f10.jpg" title="Carteira de trabalho e previdência social"
                alt="Imagem contendo várias pessoas segurando carteiras de trabalho">
        </div>
        <div class="texto">
            <p><%=noticia.conteudo %></p>
            <hr>
        </div>
    </main>
    <footer>
        <h3>&copy; 2023 Previdência Aqui.<br> Todos os direitos reservados.</h3>

        <div class="social">

            <i class="fab fa-facebook"></i>
            <!--código para o js: <font-awesome-icon :icon="['fab', 'facebook']" />-->
            <i class="fab fa-twitter"></i>
            <!--código para o js:<font-awesome-icon :icon="['fab', 'twitter']" />-->
            <i class="fab fa-instagram-square"></i>
            <!--código para o js: <font-awesome-icon :icon="['fab', 'square-instagram']" />-->
        </div>
    </footer>

    <script src="js/index.js"></script>

</body>

</html>


   
